<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="arm_id" default="panda"/> <!-- Name of this panda -->
  <xacro:arg name="panda_gripper" default="false"/> <!-- Should a franka_gripper be mounted at the flange?" -->
  <xacro:arg name="panda_gripper_realsense" default="false"/> <!-- Should a franka_gripper and realsense be mounted at the flange?" -->
  <xacro:arg name="robotiq_gripper" default="false"/> <!-- Should a robotiq gripper be mounted at the flange?" -->
  <xacro:arg name="robot_ip" default=""/> <!-- IP address or hostname of the robot" -->
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>

  <xacro:include filename="$(find moveit_resources_franka_panda_description)/urdf/panda_arm.xacro"/>
  <xacro:panda_arm arm_id="$(arg arm_id)" safety_distance="0.03"/>

  <xacro:if value="$(arg panda_gripper)">
    <xacro:include filename="$(find moveit_resources_franka_panda_description)/urdf/hand.xacro"/>
    <xacro:hand ns="$(arg arm_id)" rpy="0 0 0" connected_to="$(arg arm_id)_link8" safety_distance="0.03"/>
  </xacro:if>
  
  <xacro:if value="$(arg panda_gripper_realsense)"> 
    <xacro:include filename="$(find moveit_resources_franka_panda_description)/urdf/realsense_mount.xacro"/>
    <xacro:include filename="$(find moveit_resources_franka_panda_description)/urdf/_d435.urdf.xacro"/>	    
    <xacro:include filename="$(find moveit_resources_franka_panda_description)/urdf/hand.xacro"/>
    <xacro:realsense_mount parent="$(arg arm_id)_link8">
      <origin xyz="0 0 0" rpy="${radians(180)} 0 ${radians(180)}"/>
    </xacro:realsense_mount>

    <xacro:sensor_d435 parent="camera_link" name="realsense">
      <origin xyz="-0.0125 0 0.01" rpy="0 ${radians(-90)} ${radians(180)}"/>
    </xacro:sensor_d435>
  </xacro:if>


  <xacro:if value="$(arg robotiq_gripper)">
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_gripper_macro.urdf.xacro" />
    <xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix="" parent="$(arg arm_id)_link8" use_fake_hardware="$(arg use_fake_hardware)">
	<origin xyz="0 0 0" rpy="0 0 ${radians(-45)}" />
    </xacro:robotiq_gripper>
  </xacro:if>

  <xacro:include filename="$(find moveit_resources_franka_panda_description)/urdf/panda_arm.ros2_control.xacro"/>
  <xacro:panda_arm_ros2_control ns="$(arg arm_id)" robot_ip="$(arg robot_ip)" use_fake_hardware="$(arg use_fake_hardware)" fake_sensor_commands="$(arg fake_sensor_commands)"/>

</robot>
