<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="arm_id" default="panda"/> <!-- Name of this panda -->
  <xacro:arg name="robot_ip" default=""/> <!-- IP address or hostname of the robot" -->
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>

  <xacro:include filename="$(find moveit_resources_franka_panda_description)/urdf/panda_arm.xacro"/>
  <xacro:panda_arm arm_id="$(arg arm_id)" safety_distance="0.03"/>

  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_gripper_macro.urdf.xacro" />
  <xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix="" parent="$(arg arm_id)_link8" use_fake_hardware="$(arg use_fake_hardware)">
	<origin xyz="0 0 0" rpy="0 0 ${radians(-45)}" />
  </xacro:robotiq_gripper>
  <!-- Add an additional link to plan with. Oriented like the Panda ee_link frame. -->
  <joint name="robotiq_gripper_tip_link_joint" type="fixed">
    <parent link="robotiq_85_base_link"/>
    <child link="robotiq_gripper_tip_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.246 0.0 0.0"/>
  </joint>
  <link name="robotiq_gripper_tip_link"/>

  <xacro:include filename="$(find moveit_resources_franka_panda_description)/urdf/panda_arm.ros2_control.xacro"/>
  <xacro:panda_arm_ros2_control ns="$(arg arm_id)" robot_ip="$(arg robot_ip)" use_fake_hardware="$(arg use_fake_hardware)" fake_sensor_commands="$(arg fake_sensor_commands)"/>
</robot>
